@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

body {
    padding-top: 90px;
    background: #F7F7F7;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    width: 100%;
}
.meme-card-content{
    position:relative;
}
.meme-save-btn {
    position: absolute;
    top: -20px;
    right: 20px;
}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.1, 1.1);
    }

    100% {
    transform: scale(1, 1);
    }
}

.meme-save-btn:hover {
    animation: pulse 1s linear infinite;
    position: absolute;
    top: -20px;
    right: 20px;
}