@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

body {
    padding-top: 90px;
    background: #F7F7F7;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    width: 100%;
}
#meme-card {
    margin: 0;
    padding: 0;
}