@model MoodPocket.Domain.Entities.UserPicture

<div class="col m4" id="meme-card">
    <div class="card hoverable">
       <div class="card-image">
            <img class="materialboxed" src="@Model.Url" />
        </div>
        <div class="card-content meme-card-content">
            <a class="btn-floating halfway-fab waves-effect waves-light blue-grey lighten-4 meme-save-btn tooltipped delete-meme" data-position="left" data-delay="50" data-tooltip="Delete">
                <i class="material-icons " style="color: #666;">delete</i>
            </a>    
            <input type="hidden" value="@Model.Url" id="meme-url" />
        </div>  
    </div>  
</div>
