@model IQueryable<MoodPocket.Domain.Entities.Picture>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    @foreach (var picture in Model)
    {
        @Html.Partial("_PictureView", picture)
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/gallery-scripts")
    <script>
        $(document).ready(function () {
            initGalleryScripts("@Url.Action("DeleteMeme","Gallery")");
        });
    </script>
}

